* {

  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

}

.container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 2px 0 30px black, -2px 0 30px black;
  height: 100vh;
}