.create-calendar-page {
  padding-left: 20px;
  padding-right: 20px;
}

.create-calendar-page__label {
  display: inline-block;
  margin-bottom: 5px;
}

.create-calendar-page__input {
  display: inline-block;
  border: 4px solid black;
  width: 100%;
  margin-bottom: 55px;
  height: 52px;
  font-size: inherit;
  padding-left: 10px;
  padding-bottom: 5px;
  text-transform: inherit;
  font-weight: inherit;
}